<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    {{#if goodReq}}
    Your Hash Code is: {{resualt}}
    {{else}}
    {{resualt}}
    <form action="" method="POST">
        <input type="text" name="url" placeholder="Enter your url">
        <input type="submit" value="Submit">
    </form>
    {{/if}}

</body>
</html>